.companyInfo {
  // width: auto;
  padding: 40px;
  // border: 1px solid $wd;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0px 2px 21px 0px rgba(82, 82, 82, 0.2);

  #companyInfoHeader {
    margin-bottom: 20px;
    #coyN {
      margin: 0px;
    }
  }

  .dateRangeBtns {
    max-width: 400px;
    white-space: nowrap;
    color: $blue1;
  }

  .dateRangeBtn {
    padding: 2px 15px;
    border-radius: 20px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $we;
    }

    &.focus {
      background-color: $we;
    }
  }
}
.canvasContainer {
  position: relative;
  canvas#graph,
  canvas#tip {
    /* border-left: 1px solid black; */
    border-bottom: 2px solid $wd;
    position: absolute;
  }

  #toolTip {
    // position: absolute;
    box-shadow: 0px 2px 21px 0px rgba(82, 82, 82, 0.2);
    display: inline-block;
    font-size: 0.8em;
    color: $w5;
    padding: 8px 10px;
    background-color: $white;
    white-space: nowrap;
    transform: translateX(-5000px);
  }

  #priceCol {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    // top: -2%;
  }
}
