.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mt80 {
  margin-top: 80px;
}

.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}

.link {
  color: $blue1;

  &:hover {
    text-decoration: underline;
    color: $blue1;
  }
}

.mow {
  // previously used % margin to set a width, however does not center the div
  // margin: 20px 4%;

  // now, width is specified and margin left and right is set to auto
  min-width: 300px;
  max-width: 1500px;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.halve {
  width: 50%;
}

.lg-f {
  font-size: 3em;
}

.text-chunk-mid {
  font-size: 1.1em;
  line-height: 1.3em;
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .mow {
    width: 85vw;
  }
}
